<html>
<head>
<link rel="stylesheet" href='../static/Text.css' />
<link rel="stylesheet" href='../static/bg.css' />

</head>
<body>
    <div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
        <div class="login-page">
            <div class="form">
              <form class="login-form">
                <span>Long  URL: {{Old_URL}}</span><br><br>
                <span>Short URL: {{New_URL}}</span>
              </form>
            </div>
          </div>
</div >

</body>
</html>